.sonar__statistic
  &__container
    display : flex 
    flex-direction : column
    justify-content : center

  &__line
    flex-grow : 1
    margin : 0.5vmin
    height: 11vh
    min-height: 11vh
    max-height: 11vh
    display : flex
    justify-content : space-around

  &__stat
    width : 15vmin
    overflow : hidden

  &__name
    text-align: center

  &__content
    display: flex
    justify-content: center
    align-items: last baseline
  
  &__value
    font-size: 4vmin
    margin: 2vmin 1vmin
  
  &__informations
    display: flex
    flex-direction: column-reverse