.sonar__statistic
  &__container
    display : flex 
    flex-direction : column

  &__line
    flex-grow : 1
    margin : 0.5vmin
    display : flex
    justify-content : space-around

  &__stat
    width : 15vmin
    overflow : hidden